.Header {
    background-color: #032429;
    text-align: center;
    height: 160px;
    padding: 30px;
    .title {
        // font-size: 5rem;
        margin: auto;
        color: whitesmoke
    }

    .subtitle {
        // font-size: 3rem;
        margin: auto;
        color: rgb(212, 240, 210);
    }
}