.Action {
    min-width: 468px;
    max-width: 780px;
    display: flex;
    justify-content: right;
    margin: auto;
    padding: 30px;
    background-color: #7AB893;

    h3 {
        margin-right: 30px;
    }
}